body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #53783B;


}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

.text-color h5 {
  color: #53783B;
  font-size: 27px !important;
}

.text-color h6 {
  color: #008080;
}

.footer-bg {
  background-color: #53783B;
}

.login-btn {
  background-color: #53783B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.Signup-btn {
  color: #53783B;
}

.footer-nev {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;

}

.footer-nev li {
  padding: 8px;
  color: white;
}

.footer-nev a {
  color: white;
  text-decoration: none;
}

.login-page {
  padding-left: 190px !important;
  padding-right: 190px !important;
}

.login-img {
  padding-right: 124px !important;
  padding-left: 124px !important;
}